      <div>
        <ul class="nav navbar-nav navbar-right">

          <li><a href="#" onclick="signOut();">Sign out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <!--enter code here  -->
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome! Ready to get started?</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
           <strong> Challenges completed</strong>
           <ul class="list-group">
            {{#each completedQuestions}}
            <li class="list-group-item">
              <bold>  {{this.id}}  {{this.Question.challenge}}</bold>
            </li> <!--end of li grp item-->
            {{/each}}
          </ul><!-- end list group-->
        </div>
        <div class="col-md-6">
          <strong>Uncompleted Challenges </strong>
          <ul class="list-group">
            {{#each questions}}
            <li class="list-group-item active">
             {{this.id}} {{this.challenge}}
             <form action="/api/addactivity/{{this.id}}" method="POST">
              <input type="hidden" value="{{../userId}}" name="UserId">
              <button type="submit" class="btn btn-warning" aria-label="Left Align" data-toggle="modal" data-target="#myModal">
               <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Complete
             </button>
           </form>
           {{/each}}
           </ul>
       {{!--    {{#each completedQuestions}}
           <!-- Modal -->
           {{this}}
           <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Journal Entry</h4>
                </div>
                <div class="modal-footer">
                  <form action="/api/addjournalentry/{{this.id}}" method="POST">
                    <textarea class="form-control" id="exampleTextarea" rows="10" name ="journalcontent"></textarea>">
                    <button type="submit" class="btn btn-warning" aria-label="Left Align" data-toggle="modal" data-target="#myModal">
                     <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Add Entry
                   </button>
                 </form>
                 {{/each}}
               </div>
             </div>
           </li> --}}
         </ul>
       </div>
     </div>
   </div>


 </div>
</div>

</div>  <!-- end code here -->

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="661202478921-fmitcrqkg5ej3htdj4bje2eenqetgvv2.apps.googleusercontent.com">
</body>

</html>
